body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;

}


.container{
    width: 80%;
    margin: auto;
    display: flex;

}

.header{
    border-bottom: 3px solid #32b9cd;
    display: flex;
    background-color: black;
    
}

.titulo{
    color: #32b9cd;
    font-weight: 500;

}

.navbar{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #e3b062;


}

.header .container {
    justify-content: space-between;


}

.banner{
    color: white;
    width: 100%;
    height: 500px;
    background-image: url(bg-jelly-fish-para_outras_pags.png);

    display: flex;
}

.banner-title{
    margin: 0;
    color: white;
    font-size: 35px;
}

.banner .container{
    width: 10%;
    justify-content: flex-end;
}

.cards{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 5%;
    gap: 100px;
}

.card img{
    width: 100px;
    height: 100px;
}

.card h2{
    color: #EB3333;
}

.footer{
    width: 100%;
    height: 100px;
    background-color:#32b9cd;

    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;


}

.footer p{
    margin: 0;
    text-align: center;
}